[buildout]
parts = test importchecker coverage
develop = .
extensions = mr.developer
sources = sources
sources-dir = ..

[test]
recipe = zc.recipe.testrunner
eggs = icemac.ab.importxls[test]

[importchecker]
recipe = zc.recipe.egg
eggs = importchecker
arguments = "${buildout:directory}/src"

[coverage]
recipe = zc.recipe.egg
eggs = tha.coverage

[sources]
icemac.addressbook = svn https://icemac.svn.sourceforge.net/svnroot/icemac/addressbook/trunk
icemac.ab.importer = svn https://icemac.svn.sourceforge.net/svnroot/icemac/ab.importer/trunk
