[buildout]
parts = test console-scripts
develop = .
extensions = mr.developer
sources = sources
sources-dir = ..

[test]
recipe = zc.recipe.testrunner
eggs = icemac.ab.importxls[test]

[console-scripts]
recipe = zc.recipe.egg
eggs =
     createcoverage
     createzopecoverage
     importchecker
     pep8

[sources]
icemac.addressbook = svn https://icemac.svn.sourceforge.net/svnroot/icemac/addressbook/trunk
icemac.ab.importer = svn https://icemac.svn.sourceforge.net/svnroot/icemac/ab.importer/trunk
