include *.TXT
include *.py
include *.rst

exclude *.cfg
include buildout.cfg

exclude MANIFEST.in

include *.yml
exclude *.yml

include .gitignore
exclude .gitignore

recursive-include src *.xls
recursive-include src *.zcml
